// ************
// Color Variables
// ************

// Black
$black: #101010;

// Grey
$grey: #7E7E7E;
$lightGrey: #CCCCCC;


// ************
// Headings
// ************

// HeroHeading
$heroHeading: 3.5rem;



// ************
// Heights
// ************
$inputHeight: 3rem;
$sectionDivider: 4.5rem;


