// ************
// Color Variables
// ************

// Black
$black: #101010;

// Grey
$grey: #7E7E7E;
$lightGrey: #CCCCCC;

// Blue
$lightBlue: #F6F9FF;


// ************
// Headings
// ************

// HeroHeading
$heroHeading: 3.5rem;
$heroSubHeading: 2rem;



// ************
// Heights
// ************
$inputHeight: 3rem;
$sectionDivider: 4.5rem;


