.cover{
    height: 100%;
}

.grid{
    display: grid;
}

.horizontal-align{
    justify-items: center;
}

.horizontal-align-self{
    justify-self: center;
}

.vertical-align{
   align-items: center;    
}

.vertical-align-self{
   align-self: center;    
}

.right{
    justify-self: end;
}

.section-divider{
    grid-gap: $sectionDivider;
}